<div id="<%= dom_id detail %>">

  <p>
    <strong>Name:</strong>
    <%= detail.name %>

  </p>
    
  <div style="width:400px; height:auto">
  <%= link_to image_tag(detail.avatar, style:'width:100%'), details_path %>
</div>


  <p>
    <strong>Job title:</strong>
    <%= detail.job_title %>
  </p>

  <p>
    <strong>Years of experience:</strong>
    <%= detail.Years_Of_Experience %>
  </p>

  <p>
    <strong>Primary skiils:</strong>
    <%= detail.primary_skiils %>
  </p>

  <p>
    <strong>Secondary skills:</strong>
    <%= detail.secondary_skills %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= detail.company %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= detail.position %>
   
  </p>

  <p>
    <strong>Start date:</strong>
    <%= detail.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= detail.end_date %>
  
  </p>

  <p>
    <strong>Description:</strong>
    <%= detail.description %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= detail.title %>
  </p>

  <p>
    <strong>Tech stack:</strong>
    <%= detail.tech_stack %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= detail.desc %>
  </p>

  <p>
    <strong>School name:</strong>
    <%= detail.school_name %>
  </p>

  <p>
    <strong>Degree:</strong>
    <%= detail.degree %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= detail.grade %>
  </p>



</div>
